@font-face {
    font-family: 'BonaNova';
    src: url('./asset/font/BonaNovaSC-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

:root {
    --header: #011627;
    --body: #8f3945;
    --text: #FDFFFC;
}

html {
    font-family: "BonaNova";
    color: var(--text);
}

body {
    background-color: var(--body);
    margin: 0;
}

header {
    display: flex;
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: var(--header);
    align-items: center;
    justify-content: center;
    font-size: 32px;
    top: 0;
}

/*              SIDEBAR START            */

#add-task-button {
    position: absolute;
    left: 50px;
    width: 100px;
    padding: 10px;
    background-color: green;
    color: var(--text);
    font-size: 18px;
    border: 0;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 10px rgb(0, 68, 0);
}

#add-task-button:active {
    transform: translateY(5px);
    box-shadow: 0px 5px rgb(0, 68, 0);
}

#add-menu {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0.4, 0.4);
    position: absolute;
    top: 0;
    z-index: 15;
}

form {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: var(--header);
    padding: 10px 70px 30px;
    border-radius: 40px;
}

form > input,
form > textarea {
    margin-bottom: 10px;
}

form button {
    padding: 5px 20px;
    border-radius: 20px;
    color: var(--text);
    background-color: green;
    border: 0;
}

.hidden {
   display: none;
}

/*              END OF SIDEBAR             */

/*              DOM STYLING                */

main {
    margin: 120px 20px 20px;
     width: calc(100% - 40px);
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     height: fit-content;
}

.task-container {
    height: 300px;
    padding: 10px 20px;
    margin-top: 5px;
    background-color: var(--header);
    
    border: 0;
    border-top: 20px;
    border-style: solid;
    border-color: green;
    border-radius: 20px;
}

.task-title {
    font-size: 24px;
    margin: 10px 0 10px 0;
}

